 
 
/*
 *
 * @desc        Estilo padrÃ£o do formulÃ¡rio
 * @copyright   2018 upFlow.me
 * @version     1.0.0
 *
 */
 
/* ========== CONTEÃšDO ========== 
 *
 * 1. ELEMENTOS UPFLOW.ME
 * 2. CORES E ITENS PADRÃƒO DO FORMULÃ?RIO
 * 3. TABELA ESTILO UF
 * 4. CUSTOMIZAÃ‡Ã•ES ESPECÃ?FICAS DESTE FORMULÃ?RIO
 *
 */
 
/* ========== 1. ELEMENTOS UPFLOW.ME  ========== */
 
.uF .page-footer {
    padding-top: 10px;
    margin: 10px 0 20px;
    border-top: 1px solid #eee;
}
.uF .page-footer ul.info {
    padding: 0px 15px;
    margin-bottom: 20px;
    list-style: none;    
}
.uF .page-footer ul.info li {
    display: inline-block;
}
.uF .page-footer ul.info > li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}
.uF .form-group.ufZoom.desabilitado *,
.uF section.desabilitado * {
    pointer-events: none;
    opacity: .65;
}
.uF .form-group.ufZoom input[readonly],
.uF .form-group.ufZoom .input-group .codinput {
    background-color: #f7f7f7;
}
.uF .form-group.ufZoom .input-group .codinput {
    padding: 10px 6px;
    font-size: 80%;
}
.uF .form-group.ufZoom .input-group-btn button {
    height: 34px;
}
.uF #zoomModal table.dataTable tbody tr.selected {
    background-color: #fdf7c2;
}
.uF #secAprovacao {
    margin-bottom: 60px;
}
 
/* ========== 2. CORES E ITENS PADRÃƒO DO FORMULÃ?RIO  ========== */
.uF section#secCabecalho .status-solicitacao div.status {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
.uF label, 
.uF .btn {
    font-weight: lighter !important;
    text-transform: uppercase;
    font-size: 13px;
}
.uF .form-group input.form-control,
.uF .form-group textarea.form-control,
.uF .form-group span.form-control {
font-size: 14px;
font-weight: bold;
}
.uF span.obs-processo {
    text-align: justify;
}
.uF .help-block {
    font-size: 90% !important;
}
.uF input.form-control.sem-borda {
    border: none;
    background: none;
    box-shadow: none;
    font-weight: 600;
    cursor: default;
    padding: 0px !important;
    pointer-events: none;
}
.uF span.sem-borda {
    font-weight: 600;
}
.uF .form-group.has-success .input-group-btn button {
    color: #3c763d;
    border-color: #3c763d;
    background-color: #dff0d8;
}
.uF .form-group.has-error .input-group-btn button {
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede;
}
.uF .form-group.has-error label.error {
font-size: 90% !important;
text-transform:none;
}
.uF .fluig-style-guide .has-error label {
    color: #a94442;
}
.uF .btn-group .btn-default.sim.active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.uF .btn-group .btn-default.nao.active {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.uF .btn-group .btn-default.ajuste.active {
    color: #fff;
    background-color: #e4b73f;
    border-color: #E1AF29;
}
 
.uF .fluig-style-guide .form-control[readonly] {
    color: #555 !important;
}
.uF .form-group.has-error label.error {
    font-size: 90% !important;
    text-transform:none;
}
.uF .fluig-style-guide .has-error label {
    color: #a94442;
}
 
.uF .form-group.has-success .input-group-btn button {
    color: #dff0d8;
    border-color: #3c763d;
    background-color: #3c763d;
}
.uF .form-group.has-success .input-group-btn button.focus {
    background-color: #3c763d !important;
    box-shadow: none;
}
.uF .form-group.has-success .input-group-btn button.active {
    background-color: #2e5f2f !important;
    box-shadow: none !important;
}
.uF .form-group.has-error .input-group-btn button {
    color: #f2dede;
    border-color: #a94442;
    background-color: #a94442;
}
.uF .form-group.has-error .input-group-btn button.focus {
    background-color: #a94442 !important;
    box-shadow: none;
}
.uF .form-group.has-error .input-group-btn button.active {
    background-color: #8a3533 !important;
    box-shadow: none !important;
}
.uF .fluig-style-guide .form-group.has-error .form-control {
    background-image: linear-gradient(to left,#EF9A9A,#EF9A9A),linear-gradient(to left,#EF9A9A,#EF9A9A) !important;
}
.uF .fluig-style-guide .form-group.has-error .btn-default {
    box-shadow: inset 0 0 0 1px #a94442 !important;
}
.uF .fluig-style-guide .form-group.has-error .btn-default:hover {
    box-shadow: inset 0 0 0 1px #8a3533 !important;
}
.uF .fluig-style-guide .form-group.has-error .input-group .input-group-btn .btn-default:hover {
    background-color: #8a3533 !important;
}
.uF .fluig-style-guide .form-group.has-error .input-group .input-group-btn .btn-default.active:hover {
    background-color: #a94442 !important;
}
.uF .fluig-style-guide .form-group.has-error .input-group .input-group-addon {
    border-color: #a94442 !important;
    background-color: #a94442 !important;
}
 
 
.uF .fluig-style-guide .has-success label {
    color: #3c763d;
}
.uF .fluig-style-guide .form-group.has-success .form-control {
    background-image: linear-gradient(to left,#A5D6A7,#A5D6A7),linear-gradient(to left,#A5D6A7,#A5D6A7) !important;
}
 
.uF .fluig-style-guide .form-group.has-success .btn-default {
    box-shadow: inset 0 0 0 1px #3c763d !important;
}
.uF .fluig-style-guide .form-group.has-success .btn-default:hover {
    box-shadow: inset 0 0 0 1px #2e5f2f !important;
}
.uF .fluig-style-guide .form-group.has-success .input-group .input-group-btn .btn-default:hover {
    background-color: #2e5f2f !important;
}
.uF .fluig-style-guide .form-group.has-success .input-group .input-group-btn .btn-default.active:hover {
    background-color: #3c763d !important;
}
.uF .fluig-style-guide .form-group.has-success .input-group .input-group-addon {
    border-color: #3c763d !important;
    background-color: #3c763d !important;
}
 
/* ========== 3. TABELA ESTILO UF  ========== */
.uF table.table .help-block {
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: smaller;
    font-style: italic;
}
.uF table.table > thead {
    background-color: #eee;
}
.uF table.table > tfoot > tr > th {
border-top: 2px solid #ddd;
}
.uF table.table > thead > tr > th {
font-weight: 200;
border-bottom: 2px solid #ddd;
}
.uF table.table > tbody > tr > td {
    border-bottom: 1px solid #eee;
vertical-align: middle;
}
.uF table.table > tbody > tr:last-child > td {
    border-bottom: 2px solid #ddd;
}
.uF table.table > tbody > tr > td .form-group {
    margin-bottom: 0px;
}
.uF table.table > tbody > tr > td .form-group input.form-control {
    padding: 6px;
}
.uF table.table > tbody > tr > td.acoes-linha {
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}
.uF table.table > tbody > tr > td.acoes-linha > a {
margin-right: 5px;
color: #E5E5E5;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}
.uF table.table > tbody > tr:hover > td.acoes-linha > a:not([disabled]) {
color: #595959;
}
.uF table.table > tbody > tr > td.acoes-linha > a[disabled] {
cursor: not-allowed;
    pointer-events: none;
}
.uF table.table > tbody > tr > td a.remove-linha:hover > span {
    color: #a94442;
}
.uF table.table textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}
 
/* ========== 4. CUSTOMIZAÃ‡Ã•ES ESPECÃ?FICAS DESTE FORMULÃ?RIO  ========== */

.uF .alert {
    padding: 8px;
    margin-bottom: 0px;
}
.uF .tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 25px !important;
    background-color: #f7f7f7 !important;
    margin-bottom: 30px;
}
.uF .nav-tabs>li.active>a,
.uF .nav-tabs>li.active>a:hover, 
.uF .nav-tabs>li.active>a:focus {
    background-color: #f7f7f7 !important;
}
.uF .nav-tabs.nav-justified>.active>a,
.uF .nav-tabs.nav-justified>.active>a:hover,
.uF .nav-tabs.nav-justified>.active>a:focus {
    border-bottom-color: #f7f7f7 !important;
}
.uF .btn-group.opc_avaliacao .btn-default.sim.active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.uF .btn-group.opc_avaliacao .btn-default.nao.active {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.uF input[name="DTAINICIO"], 
.uF input[name="DTALIMITE"] {
    background-color: #fff !important;
}
.uF .form-group.has-error .help-block.fromnow {
display: none;
}
.uF .form-group .input-group-addon {
cursor: pointer;
}
.uF .secCondInicio .alert {
    margin-bottom: 20px;
}
.btn-default.ajuste.active {
    color: #fff !important;
    background-color: #ec971f !important;
    border-color: #d58512 !important;
}
 
/* css extra */
.select2{
width: 100% !important;
height: auto !important;
}
 
.modal.in .modal-dialog {
    /* margin: 3% auto !important; */
}
.swal2-container, .swal2-center, .swal2-fade{
z-index: 5000 !important;
}
 
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    margin: auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Estilos adicionados para o projeto do Real Café */
  .uF .titulo{
    color: rgba(69, 43, 32, 1) !important;
  }

  .uF .panel-body{
      padding: 0 !important;
  }

  .uF .secRodape{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.uF .td-pf{
    vertical-align: top !important;
}

.blockUI.blockOverlay {
    z-index: 3000 !important;
}

.blockUI.blockMsg.blockPage {
    z-index: 3010 !important;
}

.chrome {
    overflow: none;
}

/* -------------------- PERSONALIZADO -----------------------*/

.input-group-addon:hover {
    cursor: pointer;
    background-color: #e6e1e1;
}